<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京</key>
	<array>
		<string>北京邮电大学（宏福校区）</string>
		<string>北京大学医学部</string>
		<string>北京工业大学（本市)</string>
		<string>北京语言大学</string>
		<string>中国石油大学（北京）</string>
		<string>北京理工大学</string>
		<string>北京中医药大学</string>
		<string>北京林业大学</string>
		<string>北京交通大学</string>
		<string>北京邮电大学</string>
		<string>对外经济贸易大学</string>
		<string>中国传媒大学</string>
		<string>华北电力大学(北京)</string>
		<string>北京航空航天大学</string>
		<string>中央财经大学</string>
		<string>北京科技大学</string>
		<string>中国大民大学</string>
		<string>中国政法大学</string>
		<string>北京师范大学</string>
		<string>清华大学</string>
		<string>北京大学</string>
	</array>
	<key>江苏</key>
	<array>
		<string>淮安</string>
		<string>常州</string>
		<string>连云港</string>
		<string>无锡</string>
		<string>镇江</string>
		<string>南通</string>
		<string>泰州</string>
		<string>宿迁</string>
		<string>南京</string>
		<string>扬州</string>
	</array>
	<key>广东</key>
	<array>
		<string>佛山</string>
		<string>韶关</string>
		<string>汕头</string>
		<string>珠海</string>
		<string>深圳</string>
		<string>广州</string>
		<string>江门</string>
	</array>
	<key>山东</key>
	<array>
		<string>济宁</string>
		<string>临沂</string>
		<string>淄博</string>
		<string>潍坊</string>
		<string>威海</string>
		<string>烟台</string>
		<string>青岛</string>
		<string>日照</string>
		<string>济南</string>
	</array>
	<key>河北</key>
	<array>
		<string>邯郸</string>
		<string>廊坊</string>
		<string>房山</string>
		<string>石家庄</string>
	</array>
</dict>
</plist>
